mat-card-subtitle {
  text-align: center;
}

#logo {
  width: auto;
  text-align: center;
  max-height: 100px;
  margin: auto;
}

mat-form-field {
  display: block;
  width: 100%;
}

mat-card-actions {
  padding: 0;
  margin: 0;
}
